.RadioGroup {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-lg);
    color: var(--base-clr-100);
    line-height: var(--line-height-normal);
}

.Caption {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-normal);
}

.Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--spacing-md);
    padding-inline: var(--spacing-md);
    border-radius: var(--radius-md);
    border: 1px solid var(--base-clr-30);
    width: 100%;
}

.Item:has([data-checked]) {
    border-color: var(--primary-clr-100);
}

.ItemContent {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-sm);
}

.Radio {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    outline: 0;
    transition: background-color var(--transition-base);

    &[data-unchecked] {
        border: 1px solid var(--base-clr-30);
    }

    &[data-checked] {
        border: 1px solid var(--primary-clr-100);
        background-color: var(--primary-clr-10);
    }

    &:focus-visible {
        outline: 2px solid var(--primary-clr-100);
        outline-offset: 2px;
    }
}

.Indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-clr-100);
    width: 0.875rem;
    height: 0.875rem;

    &[data-unchecked] {
        display: none;
    }
}

.ViewDetails {
    color: var(--primary-clr-100);
    font-size: 0.8125rem;
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
}