:root {
  --primary-color-10: oklch(0.9738 0.0086 247.91);
  --primary-color-20: oklch(0.932 0.0287 254.68);
  --primary-color-30: oklch(0.8928 0.05 254.89);
  --primary-color-40: oklch(0.851 0.0717 255.03);
  --primary-color-50: oklch(0.8105 0.0933 255.66);
  --primary-color-60: oklch(0.7733 0.1155 255.69);
  --primary-color-70: oklch(0.7346 0.1373 256.13);
  --primary-color-80: oklch(0.6968 0.1592 256.33);
  --primary-color-90: oklch(0.6641 0.1803 256.73);
  --primary-color-100: oklch(0.6309 0.2001 257.57);

  --base-color-10: oklch(0.9827 0.0026 286.35);
  --base-color-20: oklch(0.9578 0.0058 264.53);
  --base-color-30: oklch(0.9046 0.0153 273.84);
  --base-color-40: oklch(0.8086 0.0292 270.35);
  --base-color-50: oklch(0.6344 0.059 271.02);
  --base-color-60: oklch(0.5349 0.0729 270.54);
  --base-color-70: oklch(0.455 0.0591 270.52);
  --base-color-80: oklch(0.411 0.0535 271.45);
  --base-color-90: oklch(0.3412 0.0434 271.45);
  --base-color-100: oklch(0.1928 0.0305 277.33);

  --light-grey-color: oklch(0.9827 0.0026 286.35);
  --gray-50-color: oklch(0.9846 0.0017 247.84);
  --dark-color: oklch(0.9846 0.0017 247.84);
  --alert-green-color: oklch(0.6859 0.1667 154.86);
  --alert-red-color: oklch(0.6195 0.2087 25.75);
  --alert-yellow-color: oklch(0.7469 0.1701 62.11);
  --alert-error-color: oklch(0.6371 0.2104 28.54);
  --white-color: oklch(1 0 0);
}